<div class="fields">
  <div class="field">
    <%= f.label :name, 'Name:  ' %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :unit, 'Unit:  ' %>
    <%= f.select :unit, MedicationOrder.mass_units.keys.map {|unit| [unit, unit]} %>
  </div>
  <div class="field">
    <%= f.label :dosage, 'Dosage:  ' %>
    <%= f.number_field :dosage, min: 0, :step => "0.01" %>
  </div>
  <div class="field">
    <%= f.label :route, 'Route:  ' %>
    <%= f.select :route, MedicationOrder.medication_routes.keys.map {|route| [route.upcase, route]} %>
  </div>
  <%= f.fields_for :order_frequency do |f| %>
    <div class="field">
      <%= f.label :value, 'Frequency:  ' %>
      <%= f.text_field :value %>
      <%= f.select :unit, OrderFrequency.frequency_units.map {|frequency| [frequency, frequency]} %>
    </div>
  <% end %>
  <%= link_to_remove_fields "Remove", f %>
</div>
