<div class="container">
  <div class='patient-list'>
    <div class="navbar navbar-default">
  <%= form_for_filterrific @filterrific do |f| %>
  <ul class="nav navbar-nav search-form">
    <%= link_to "New Transfer", new_patient_path, {:remote => true, 'data-toggle' =>  "modal", class: 'btn btn-success upgrade', style: 'margin-right: 10px', 'data-target' => '#mymodal'} %>

  <li>
  Search
  <%= f.text_field(
    :search_by,
    class: 'filterrific-periodically-observed'
  ) %>
  </li>

  <li>
    From:
    <%= f.date_field(:with_date_of_gte, :value => 1.month.ago.strftime("%Y-%m-%d")) %>&nbsp;&nbsp;
  </li>
  <li>
    To:
    <%= f.date_field(:with_date_of_lt) %>&nbsp;&nbsp;
  </li>

  <li>
  <%= link_to(
    'Reset filters',
    reset_filterrific_url,
  ) %>
  </li>
  <%= render_filterrific_spinner %>
  <% end %>
  </ul>
  </div>
    <div>
      <%= render(
        partial: 'patients/list',
        locals: { patients: @patients }
      ) %>
    </div>
  </div>
</div>
